MONGODB_URI="mongodb+srv://<使用者名稱>:<使用者密碼>@cluster0.9zo84.mongodb.net/restaurant-list?retryWrites=true&w=majority"

SESSION_SECRET="SESSIONSECRET"
PORT=3000

FACEBOOK_ID=SKIP
FACEBOOK_SECRET="SKIP
FACEBOOK_CALLBACK="http://localhost:3000/auth/facebook/callback"

GOOGLE_ID=SKIP
GOOGLE_SECRET=SKIP
GOOGLE_CALLBACK="http://localhost:3000/auth/google/callback"