<div class="container mt-4 d-flex flex-column align-items-center">
  <h2>New Restaurant Details Key In</h2>
  <form action="/restaurants" method="post" class="row">
    <div class="col-6 mb-2">
      <label for="name" class="form-label">Name：</label>
      <input type="text" class="form-control" placeholder="restaurant name" name="name" id="name" required>
    </div>
    <div class="col-6 mb-2">
      <label for="category" class="form-label">Category：</label>
      <input type="text" class="form-control" placeholder="category" name="category" id="category">
    </div>
    <div class="col-6 mb-2">
      <label for="phone" class="form-label">Phone：</label>
      <input type="text" class="form-control" placeholder="restaurant phone" name="phone" id="phone">
    </div>
    <div class="col-6 mb-2">
      <label for="rating" class="form-label">Rating：</label>
      <input type="text" class="form-control" placeholder="restaurant rating" name="rating" id="rating">
    </div>
    <div class="col-12 mb-2">
      <label for="image" class="form-label">Picture Link：</label>
      <input type="text" class="form-control" placeholder="restaurant picture Link" name="image" id="image">
    </div>
    <div class="col-12 mb-2">
      <label for="location" class="form-label">Location：</label>
      <input type="text" class="form-control" placeholder="restaurant location" name="location" id="location" required>
    </div>
    <div class="col-12 mb-2">
      <label for="google_map" class="form-label">Google_Map：</label>
      <input type="text" class="form-control" placeholder="restaurant google_map link" name="google_map" id="google_map" required>
    </div>
    <div class="col-12 mb-3">
      <label for="description" class="form-label">Description：</label>
      <input type="text" class="form-control" placeholder="restaurant description" name="description" id="description" required>
    </div>
    <div class="d-flex justify-content-center mb-3">
      <button type="submit" class="btn btn-sm btn-outline-primary me-2">Save</button>
      <a href="/" class="btn btn-sm btn-outline-secondary">Back</a>
    </div>
  </form>
</div>