<div class="row my-4">
  <div class="col-md-5 m-auto">
    <div class="card card-body">
      <h1 class="text-center mt-3">Register</h1>
      <form action="/users/Register" method="POST" class="fs-4">
        <div class="mb-3">
          <label for="name" class="form-label">User Name：</label>
          <input type="text" class="form-control" name="name" id="name" placeholder="your name">
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">User Email：</label>
          <input type="text" class="form-control" name="email" id="email" placeholder="your email">
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">User Password：</label>
          <input type="password" class="form-control" name="password" id="password" placeholder="your password">
        </div>
        <div class="mb-3">
          <label for="confirmPassword" class="form-label">User Password：</label>
          <input type="password" class="form-control" name="confirmPassword" id="confirmPassword" placeholder="confirm your password">
        </div>
        <button type="submit" class="btn btn-primary col-12 mb-1">Register</button>
        <a href="/auth/facebook" class="btn btn-info col-12">Facebook Login</a>
      </form>
      <p class="mt-2">Have an Account? <a href="/users/login">Login</a></p>
    </div>
  </div>

</div>